.container{
   width: 50%; 
   margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color: #777;
    background-color: aliceblue;
}